*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100vh;
    background:rgb(54, 21, 21);
    display:flex;
    align-items:center;
    justify-content:center;
    border-left: #ddf584;

}
.calculator{
    background:rgb(208, 18, 18);
    padding:20px;
    border-radius:20px;
    border-right-color: antiquewhite;
    border-top-color: aqua;
    background:transparent;
    box-shadow:-8px -8px 15px rgba(249, 235, 235, 0.1), 5px 5px 15px rgba(234, 19, 19, 0.2);
    }
.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius:10px;
    box-shadow:-8px -8px 15px rgba(255, 251, 251, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background:transparent;
    font-size:20px;
    color:#ddf584;
    cursor: pointer;
    margin:10px;
}
form .display{
    display:flex;
    justify-content:flex-end;
    margin: 20px 0;

}
form .display input{
    
    text-align:right;
    flex:1;
    font-size:45px;
    box-shadow:none;
}
form input.equal{
    width:145px;
}

form input.oprerator{
    color:rgb(201, 255, 5);
}